<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

	<footer th:fragment="piepagina">
		<div class="caja-footer">
			<div class="descripcionfoot">
				<h2>Más sobre la compañía</h2>
				<p>
					Desde 2006, nos dedicamos al cuidado integral de las mascotas, ofreciendo servicios innovadores,
					infraestructura adecuada y atención profesional de alta calidad, siempre enfocados en brindarles el
					trato y cuidado que merecen.
				</p>
			</div>

			<div class="caja-redes">
				<h2>Redes sociales :</h2>
				<a href="#"><img th:src="@{/imgFront/facebook.png}" alt=""></a>
				<a href="#"><img th:src="@{/imgFront/insta.png}" alt=""></a>
				<a href="#"><img th:src="@{/imgFront/twitter.png}" alt=""></a>
				<a href="#"><img th:src="@{/imgFront/youtube.png}" alt=""></a>
			</div>

			<div class="caja-contacto">
				<h2>Contáctanos:</h2>
				<p><img th:src="@{/imgFront/iconos/icon-email.png}" alt="">vetipetveterinaria@gmail.com</p>
				<p><img th:src="@{/imgFront/iconos/icon-email.png}" alt="">info@vetipetveterinaria.com</p>
				<p><img th:src="@{/imgFront/iconos/icon-telef.png}" alt="">992-796-689</p>
				<p><img th:src="@{/imgFront/iconos/icon-telef.png}" alt="">+(1) 522-8449</p>
				<p><img th:src="@{/imgFront/iconos/icon-geo.png}" alt="">Urb.Villa del Norte - Los Olivos</p>
			</div>
		</div>

		<div class="derechos">
			<p>© 2024 CIBERPET. Todos los derechos reservados.</p>
		</div>
	</footer>
	
</body>

</html>