<header th:fragment="header-principal">
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
	    <div class="container">
	        <!-- Logo -->
	        <a class="navbar-brand fw-bold" th:href="@{/}">
				<i class="fas fa-paw fa-lg me-2"></i>CiberPet
	        </a>

	        <!-- Botón para responsive -->
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
	            <span class="navbar-toggler-icon"></span>
	        </button>

	        <!-- Enlaces de navegación -->
	        <div class="collapse navbar-collapse" id="navbarNav">
	            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	                <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
	                <li class="nav-item"><a class="nav-link" th:href="@{/nosotros}">Nosotros</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/agendar-cita}">Atención</a></li>
	                <li class="nav-item"><a class="nav-link" th:href="@{/contacto}">Contacto</a></li>
	            </ul>

	            <!-- Botones de usuario -->
	            <div class="d-flex align-items-center">
	                <!-- Si el usuario está logueado -->
					<div th:if="${session.usuarioSesion != null}" class="d-flex align-items-center gap-2">

					    <i class="fas fa-user-circle fa-lg"></i>
					    <span th:text="'Hola, ' + ${session.usuarioSesion.nombre}"></span>
						<a th:if="${session.rol == 'Administrador'}" class="btn btn-outline-success btn-sm" th:href="@{/admin/dashboard}">
						    <i class="fas fa-user-shield me-1"></i>
						    Admin
						</a>
						<form th:action="@{/cerrar-sesion}" method="post" id="logoutFormNavbar" class="d-flex align-items-center mb-0">
						    <button type="submit" class="btn btn-outline-danger btn-sm">
						        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
						    </button>
						</form>
					</div>

	                <!-- Si el usuario NO está logueado -->
					<div th:if="${session.usuarioSesion == null}" class="d-flex gap-2">
					    <a class="btn btn-outline-primary btn-sm" th:href="@{/login}">Login</a>
					    <a class="btn btn-success btn-sm" th:href="@{/registrar-usuario}">Registrarse</a>
					</div>
	            </div>
	        </div>
	    </div>
	</nav>
</header>