<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="shared/layout-admin :: layoutBase(~{::contenido})">

<div th:fragment="contenido">
	<div class="card shadow-lg">
		<div class="card-body">
			<h1 class="text-center">Producto - Nuevo</h1>

			<div class="row d-flex justify-content-center">
				<div class="col-md-8">
					<form novalidate th:action="@{/guardarProducto}" method="post" th:object="${producto}"
						class="needs-validation">

						<!-- Código del producto -->
						<div class="mb-3">
							<label for="idProducto" class="form-label">Código</label>
							<input type="text" class="form-control" th:field="*{idProducto}" placeholder="Ej. P0001" readonly
								th:classappend="${#fields.hasErrors('idProducto')} ? 'is-invalid' : ''">
							<div class="invalid-feedback" th:errors="*{idProducto}"></div>
						</div>

						<!-- Descripción -->
						<div class="mb-3">
							<label for="nombreProducto" class="form-label">Nombre del producto</label>
							<input type="text" class="form-control" th:field="*{nombreProducto}"
								placeholder="Nombre del producto"
								th:classappend="${#fields.hasErrors('nombreProducto')} ? 'is-invalid' : ''">
							<div class="invalid-feedback" th:errors="*{nombreProducto}"></div>
						</div>

						<!-- Descripción -->
						<div class="mb-3">
							<label for="descripProducto" class="form-label">Descripción</label>
							<input type="text" class="form-control" th:field="*{descripProducto}"
								placeholder="Nombre del producto"
								th:classappend="${#fields.hasErrors('descripProducto')} ? 'is-invalid' : ''">
							<div class="invalid-feedback" th:errors="*{descripProducto}"></div>
						</div>

						<div class="row">
							<!-- Stock -->
							<div class="mb-3 col-md-6">
								<label for="stock" class="form-label">Stock</label>
								<input type="number" class="form-control" th:field="*{stock}" placeholder="0"
									th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''">
								<div class="invalid-feedback" th:errors="*{stock}"></div>
							</div>

							<!-- Precio -->
							<div class="mb-3 col-md-6">
								<label for="precio" class="form-label">Precio</label>
								<input type="number" step="0.01" class="form-control" th:field="*{precio}"
									placeholder="0.00"
									th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : ''">
								<div class="invalid-feedback" th:errors="*{precio}"></div>
							</div>
						</div>

						<div class="row">
							<!-- Categoría -->
							<div class="mb-3 col-md-6">
								<label for="categoria" class="form-label">Categoría</label>
								<select class="form-select" th:field="*{categoria}" required
									th:classappend="${#fields.hasErrors('categoria')} ? 'is-invalid' : ''">
									<option value="">--Seleccione--</option>
									<option th:each="cat : ${categorias}" th:value="${cat.idCategoria}"
										th:text="${cat.descripcion}"></option>
								</select>
								<div class="invalid-feedback" th:errors="*{categoria}"></div>
							</div>

							<!-- Botones -->
							<div class="d-flex justify-content-between mt-4">
								<button type="submit" class="btn btn-primary">
									Guardar
									<i class="fa-solid fa-floppy-disk"></i>
								</button>
								<a th:href="@{/filtradoProductos}" class="btn btn-dark">
									Regresar
									<i class="fa-solid fa-circle-left"></i>
								</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<th:block th:utext="${alert}"></th:block>
</div>

</html>