<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="shared/layout-admin :: layoutBase(~{::contenido})">

<div th:fragment="contenido">
	<div class="container mt-4">
		<div class="card shadow-sm">
			<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
				<h5 class="mb-0">Listado de Productos</h5>
				<a th:href="@{/crearProductos}" class="btn btn-light btn-sm">Nuevo Producto</a>
			</div>

			<div class="card-body">
				<form th:action="@{/filtradoProductos}" method="get" th:object="${filtro}">
					<div class="row mb-3">
						<div class="col-md-4">
							<label class="form-label">Categoría</label>
							<select class="form-select" th:field="*{idCategoria}">
								<option value="">-- Todas --</option>
								<option th:each="c : ${categorias}" th:value="${c.idCategoria}"
									th:text="${c.descripcion}"></option>
							</select>
						</div>
						<div class="col-auto">
							<label for="estado">Estado:</label>
							<select class="form-select" th:field="*{estado}">
								<option value="">-- Todos --</option>
								<option th:value="true">Activos</option>
								<option th:value="false">Inactivos</option>
							</select>
						</div>
						<div class="col-md-2 d-flex align-items-end">
							<button type="submit" class="btn btn-primary w-100">
								<i class="fas fa-filter"></i> Filtrar
							</button>
						</div>
					</div>
				</form>

				<div class="table-responsive">
					<table id="tblProductos" class="table table-hover table-striped table-borderless align-middle">
						<thead class="table-dark text-center">
							<tr>
								<th>Nro.</th>
								<th>Código</th>
								<th>Descripción</th>
								<th>Categoría</th>
								<th>Stock</th>
								<th>Precio</th>
								<th>Acciones</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody class="table-secondary">
							<tr th:each="prod, stat : ${lstProducto}">
								<td th:text="${stat.count}" class="text-center"></td>
								<td th:text="${prod.idProducto}" class="text-center"></td>
								<td th:text="${prod.descripProducto}"></td>
								<td th:text="${prod.categoria.descripcion}"></td>
								<td th:text="${prod.stock}" class="text-end"></td>
								<td th:text="|S/. ${#numbers.formatDecimal(prod.precio,1,2,'POINT')}|" class="text-end">
								</td>
								<td class="d-flex justify-content-center gap-2">
										<a th:href="@{/edicionProducto/{id}(id=${prod.idProducto})}"
											class="btn btn-outline-primary btn-sm px-2" title="Editar">
											<i class="fa-regular fa-pen-to-square"></i> Editar
										</a>
								</td>
								<td class="text-center">
									<form method="post" th:action="@{/cambiar-estado/{id}(id=${prod.idProducto})}">
										<div class="form-switch">
											<input class="form-check-input" type="checkbox" th:checked="${prod.estado}"
												onchange="this.form.submit()">
										</div>
									</form>
								</td>

							</tr>
						</tbody>
					</table>
				</div>


				<th:block th:utext="${toast}"></th:block>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$('#tblProductos').DataTable({
				language: {
					url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
					search: "Buscar :",
				},
				responsive: true
			});
		});
	</script>
</div>