<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="shared/layout-admin :: layoutBase(~{::contenido})">

<div th:fragment="contenido">
	<div class="container mt-4">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row mb-3">
					<div class="col-md-12">
						<table id="tblClientes" class="table table-hover table-striped table-borderless align-middle">
							<thead class="table-dark text-center">
								<tr>
									<th>Nro.</th>
									<th>Nombre de usuario</th>
									<th>Nombre completo</th>
									<th>Correo</th>
									<th>Teléfono</th>
									<th>Dirección</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody class="table-secondary">
								<tr th:each="item, stat : ${lstClientes}">
									<td th:text="${stat.count}" class="text-center"></td>
									<td th:text="${item.nombreUser}"></td>
									<td th:text="${item.nombre + ' ' + item.apellidos}"></td>
									<td th:text="${item.correo}"></td>
									<td th:text="${item.telefono}" class="text-center"></td>
									<td th:text="${item.direccion}"></td>
									<td class="text-center">
										<a th:href="@{/nuevaCita/{idUser}(idUser=${item.idUser})}"
											class="btn btn-outline-success btn-sm" title="Agendar Cita">
											<i class="fas fa-calendar-plus"></i> generar cita
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<th:block th:utext="${toast}"></th:block>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
			$('#tblClientes').DataTable({
				language: {
					url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
					search: "Filtro general:",
				}
			});
		});
	</script>
</div>

</html>