<!DOCTYPE HTML>
<link th:href="@{cssFront/estilos.css}" rel="stylesheet">
<link th:href="@{cssFront/botones.css}" rel="stylesheet">
<link th:href="@{cssFront/sobrenosotros.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{cssFront/carrusel.css}">
<html xmlns:th="http://www.thymeleaf.org" th:replace="shared/layout :: layoutPagina(~{::contenido})">

<div th:fragment="contenido">
	<div class="banner">
		<img th:src="@{/imgFront/banner.png}" alt="banner">
	</div>

	<!-- SECCIONES -->
	<article>
		<section>
			<h2>Ubicación</h2>
			<br><br>
			<p>
				Nos encontramos en el corazón de Lima, en la Av. Siempre Viva 1234, Lima, Perú.
				Nuestro local es de fácil acceso y cuenta con estacionamiento gratuito para nuestros clientes.
			</p>
		</section>

		<section>
			<h2>Horario de atención</h2>
			<br>
			<ul>
				<li>Lunes a Viernes: 9:00 AM - 6:00 PM</li>
				<li>Sábados: 10:00 AM - 2:00 PM</li>
				<li>Domingos y Feriados: Cerrado</li>
			</ul>
		</section>

		<section>
			<h2>Servicio de atención</h2>
			<br>
			<ul>
				<li>Teléfono: (01) 234 5678</li>
				<li>Correo Electrónico: servicioalcliente@ciberpet.com</li>
				<li>WhatsApp: +51 987 654 321</li>
			</ul>
		</section>
	</article>
</div>

</html>