<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="shared/layout :: layoutPagina(~{::contenido})">

<div th:fragment="contenido">
	<div class="container mt-4">
		<h4>Mis Citas</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Servicio</th>
					<th>Motivo</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c : ${citas}">
					<td th:text="${c.fechaCita}"></td>
					<td th:text="${c.horaCita}"></td>
					<td th:text="${c.servicio.nomServicio}"></td>
					<td th:text="${c.motivo}"></td>
					<td th:text="${c.getNombreEstado()}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

</html>