<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="shared/layout :: layoutPagina(~{::contenido})">

<div th:fragment="contenido">
	<!-- BANNER -->
	<div class="banner">
		<img th:src="@{/imgFront/bannersobren.png}" alt="banner">
	</div>

	<!-- CONTENIDO PRINCIPAL -->
	<div class="contenedorpreguntas">
		<div class="cajamision">
			<h2>Misión</h2>
			<p>En CiberPet, amamos a las mascotas tanto como tú. Nuestro
				objetivo es brindarte una plataforma confiable y fácil de usar para
				que cuides a tu compañero peludo como se merece.</p>
		</div>

		<div class="cajavision">
			<h2>Visión</h2>
			<p>Ser la plataforma más confiable y eficiente en el cuidado de
				las mascotas, innovando constantemente para mejorar la vida de ellas
				y de sus dueños.</p>
		</div>

		<div class="cajaobejtivos">
			<h2>Objetivos</h2>
			<ul>
				<li>Facilitar el acceso a productos y servicios veterinarios.</li>
				<li>Promover el cuidado integral de las mascotas.</li>
				<li>Ofrecer una experiencia segura, rápida y amigable.</li>
			</ul>
		</div>
	</div>
</div>

</html>